#clock {
    padding-top: 1.5em;
    font-size: 1em;
}

#date-box {
    background-color: #514fe8;
    padding-top: 2em;
    font-size: 2em;
    color: #fff;
    font-weight: bold;
}

#day-of-month-label {
    font-size: 2em;
}

#groups-box {
    background-color: #b3bcf2;
    color: #fff;
}

#hue-content-box {
    background-color: #db5f11;
}

#menu-button {
    background-color: #2390d3;
    background-image: none;
    border-radius: 0;
    color: white;
}

#mycroft-content-box {
    background-color: #0792ef;
}

#mycroft-stack {
    color: white;
    font-weight: bold;
    font-size: 20pt;
    padding: 2em;
}

#picture-box {
    background-image: url("assets/default_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#snapcast-content-box {
    background-color: #b3bcf2;
}

.app-box {
    padding: .5em;
}

.client-container {
    padding: 1em;
}

.client-box {
    padding-bottom: 1em;
}

.content-box {
    color: white;
    padding: 1em;
}

.group-box {
    background-color: #386bb7;
    border-radius: 1em;
}

.group-header {
    color: black;
    background-color: #fff;
    padding: 1em;
    border-radius: 1em 1em 0 0;
    font-weight: bold;
}

.header {
    color: black;
    font-size: 2em;
}

.home-button {
    color: black;
    background-image: none;
    background-color: #d8d8d8;
}

.main-menu {
    color: white;
    background-color: #514fe8;
}

.menu-button {
    background-color: #2390d3;
    background-image: none;
    color: white;
    font-weight: bold;
    padding: 1em;
}

.separator {
    padding: 1px;
}

.source-container {
    padding: 1em;
}

.title {
    padding-bottom: 1em;
    font-weight: bold;
}

.title-box {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
}