#date-box {
    background-color: #514fe8;
    padding-top: 3em;
    font-size: 2em;
    color: #fff;
}

#picture-box{
    /*background-color: #4fd6e8;*/
    background-image: url("assets/default_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.client-container {
    padding: 1em;
}

#clock {
    padding-bottom: 3em;
}

.dropdown {
    padding-top: 1em;
}

#group-box {
    background-color: #386bb7;
    border-radius: 1em;
}

#group-header {
    color: black;
    background-color: #fff;
    padding: 1em;
    border-radius: 1em 1em 0 0 ;
}

.separator {
    padding: 2px;
    margin-bottom: 1em;
}

#snapcontrol-grid {
    color: #fff;
    background-color: #b3bcf2;
    padding: 2em;
}

#source-container {
    padding: 1em;
}
